@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Palette+Mosaic&display=swap');
$black:#0d0d0d;
$white:#f2f2f2;
$yellow:#f2cc0f;
$green:#8cbf3f;
$purple:#9453a6;
$blue: #1d2cb9;
$orange:#232526;
$orangeyellow:#747220 ;

body {
    background: #232526;
    
    
    background:rgb(211, 211, 182);
    
  }
  
  h1,
  h2,
  h3, 
  h4,
  h5,
  h6 {
    font-family: 'Pattaya', 'Henny Penny';
    color: blue;
  }
  
  footer p {
    color: white;
  }
  
  p {
    font-family: 'Roboto';
  }
  
  body {
    
    color: #222;
    -webkit-animation: transitionIn 2s;
            animation: transitionIn 2s;
  }
  
  @-webkit-keyframes transitionIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes transitionIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .navbar {
    padding: .8rem;
    font-family: 'Henny Penny';
    
    background: black;
   
    background: linear-gradient(to right, #141618, #090e13);
    
    background:rgb(37, 37, 16);
    
  }
  
  
  .navbar-nav li {
    padding-right: 20px;
  }
  
  .nav-link {
    font-size: 1.1em !important;
    color: white !important;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
  }
  
  .nav-link:hover {
    color:  $orangeyellow!important;
    
    transition: 2s;
    transform: scale(1.5, 0.2);
  }
  .navbar-brand {
    
    background:#1d2cb9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
  }
  
  .navbar-brand:hover {
    -webkit-animation: shake 0.5s ease-in;
            animation: shake 0.5s ease-in;
            transform: scale(1.5);
            transition: transform 1.6s;
  }
  
  
  
  #form_container {
    padding: 15px 15px;
    margin-top: 15px;
    color: #0d0d0d;
  }
  
  #Phead {
    color: white;
  }
  
  .formcolor {
    color: black;
  }
  
  .btn-primary {
    background-color: blue;
    border: 1px solid black;
  }
  
  .btn-primary:hover {
    background-color: #27a0a0;
    border: 1px solid black;
    color: black;
  }
  
  .btn-outline-secondary {
    color: black;
  }
  
  .btn-outline-secondary:hover {
    background-color: #5360a7;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: black;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  
  
  .social a {
    font-size: 4.5em;
    padding: 3rem;
  }
  
  .fa-facebook {
    color: #9fb5e2;
  }
  
  .fa-twitter {
    color: #269cb9;
  }
  
  .fa-tripadvisor {
    color: rgb(23, 65, 23);
  }
  
  .fa-instagram {
    color: #a0aa17;
  }
  
  .fa-youtube {
    color: #bb0000;
  }
  
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-tripadvisor:hover,
  .fa-instagram:hover,
  .fa-youtube:hover {
    color: white;
  }
  
  footer {
    background-color: #3f3f3f;
    color: white;
    padding-top: 2rem;
  }
  
  hr.light {
    border-top: 1px solid white;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  
  footer {
    background-color: rgb(37, 37, 16);
  }
  
  footer a {
    color: white;
  }
  
  #logo {
    width: 100px !important;
    height: 100px !important;
  }
  
  hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  